<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>Welcome To Poodle</h1>
    <h3>The New Social Network That Lets <em>You</em> Build your Networks, How <em>You</em> Want To.</h3>
    <a class="btn btn-default btn-lg">Find Out More</a>
  </div>
</div>
<!-- /Full Page Image Header Area -->


<!-- Intro -->
<div id="intro" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>share your ideas, photos and lifestyle with who you want</h2>
        <p class="lead">This template really has it all. It's up to you to customize it to your liking! It features some fresh photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>How It Works</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-rocket"></i>
          <h4>Integrate with Facebook and Twitter</h4>
          <p>We work with Facebook and Twitter so that you can see what your friends and family are saying</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-magnet"></i>
          <h4>Create Groups</h4>
          <p>with poodle you create the groups that you want to see. Friends, Family, Work, the choice is yours</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-shield"></i>
          <h4>Share Your Photos With Your Friends Or The World</h4>
          <p>you choose who see's your photo's. Share them with your friends and family or share them with the rest of the Poodle community. The choice is yours!</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-pencil"></i>
          <h4>outreach and meet new people</h4>
          <p>Friend similar people with similar ideas. outreach. and crrate new relationships</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
  <div class="vert-text">
    <h1>A Dramatic Text Area</h1>
  </div>
</div>


<!-- Portfolio -->
<div id ="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Our Work</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 text-center">
        <div class="portfolio-item">
          <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-1.jpg"></a>
          <h4>Cityscape</h4>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="portfolio-item">
          <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-2.jpg"></a>
          <h4>Is That On Fire?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 text-center">
        <div class="portfolio-item">
          <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-3.jpg"></a>
          <h4>Stop Sign</h4>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="portfolio-item">
          <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"></a>
          <h4>Narrow Focus</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Portfolio -->

<!-- Call to Action -->
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
       
      </div>
    </div>
  </div>
</div>
<!-- /Call to Action -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-dribbble icon-2x"></i></li>
        </ul>
        <hr>
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->


